html, body {height: 100%
margin:0;
padding:0;}
#container{min-height: 100%;
position: relative;}
#main{overflow: auto;
      padding-bottom: 115px}

body {display: flex;
	flex-direction: column;}
.content {flex: 1 0 auto;}
.topnav {
  display: flex;
  background-color: #5D6D7E;
  overflow: hidden;
  align-items: baseline;
  }
 .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: calibri, sans serif, arial;
  
  align-items: baseline;
  display: flex;}
 .topnav a:hover {
  background-color: #00CC33;
  color: black;}

#logo {
  display: flex;
  justify-content: space-between;
  padding-left: 250px;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  padding-bottom: 20px;
  padding-top: 20px;
  clear: both;
      }
 
.logo1 {
  padding:12px;
    border:5px solid #00CC33; 
  }
.logo2 {
padding-right: 20px;
float: right;
}

h1{font-family:  calibri, sans serif, arial;
text-align: center;
border-bottom: 5px solid  #00CC33 }

#container1 {
  clear: both;
  display: flex;
  justify-content: space-around;
  font-family:  calibri, sans serif, arial; 
  padding: 0em;
  flex-wrap: wrap;
  font-size: 1.2em
 }
.Tui {flex: 0 0 10px;
margin-top: 60px;}
.practice {flex: 0 0 300px;}
.Person{margin-left: 5px;
    flex: 0 0 300px;}
.Training{margin-left: 5px;
  flex: 0 0 300px;}
.service_link{
    flex: 0 0 100%;
    text-align: center;
   justify-content: center;
   font-size: 1.3em}


#Container2 {clear: both;
  display: flex;
  justify-content: space-around;
  font-family:  calibri, sans serif, arial; 
  padding: 0em;
  flex-wrap: wrap;
  font-size: 1.2em}
  .Kereru {margin-top: 60px
    }
.Contact{margin-left: 5px;
    flex: 0 0 300px;
    line-height: 6px;}
.map{clear: both;}

.btn {
  position: relative;
 margin: 5em auto;
 margin-top: -10px;
 margin-bottom: 20px;
  display: block;
  max-width: 150px;
  padding: 20px;
  border: 1px solid black;
  background-color: #B3B3B5;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: calibri, sans-serif, arial;
  white-space: normal;
}
.btn:hover {
  background-color: #00CC33;
  color: black;}

#container2 {display: flex;
justify-content: space-around;
font-family:  calibri, sans serif, arial; 
  padding: 0em;
flex-wrap: wrap;
font-size: 1.1em;
clear: both;
 }
 .Compliance {flex: 0 0 300px;}
  .Records{margin-left: 5px;
    flex: 0 0 300px;}
  .Reports{margin-left: 5px;
  flex: 0 0 300px;}
.Projections{margin-left: 5px;
  flex: 0 0 300px;}
  .Trusts{margin-left: 5px;
  flex: 0 0 300px;}
  .Financing{margin-left: 5px;
  flex: 0 0 300px;}
  .Tax{margin-left: 5px;
  flex: 0 0 300px;}
  .Other{margin-left: 5px;
  flex: 0 0 300px;}

#footer {
	 position: relative;
  display: inline-flex;
  width:100%;
  height: 115px;
  margin-top: -115px;
  bottom: 0;
  justify-content: space-around;
  background-color:#5D6D7E; 
  color: white;
  font-family:  calibri, sans serif, arial; 
   clear: both;
  }
.phone {float: left;
line-height: 8px;
}
.address {text-align: center;
	align-self: center;
line-height: 8px;}
.logo {float: right;
object-fit: contain;
padding: 0em;
position: relative;
top: 13px}
